<header>
<h1>No-Calorie Burgers</h1>
<img src="../assets/images/humberger.png" style="width:150px;">
</header>

<div class="burger-container">

<ul id="burgers-to-eat" class="burger-col">
  <h2>Burgers To Eat</h2>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{burger_name}} for <span class="for-customer">{{Customer.customer_name}}</span>
      <button class="devour-btn" data-id={{id}}>EAT ME</button>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<ul id="burgers-eaten" class="burger-col">
  <h2>Devoured Burgers</h2>
  {{#each burgers}}
    {{#if devoured}}
    <li>
      {{burger_name}} eaten by <span class="by-customer">{{Customer.customer_name}}</span>
      <i class="fas fa-times burger-delete" data-id={{id}}></i>
    </li>
    {{/if}}
  {{/each}}
</ul>

</div>

<div class="burger-input">
  <form class="burger-form">
    <label for="new-burger">Input Your Burger</label>
    <input type="text" id="new-burger" name="name">
    <label for="new-customer">Input Customer Name</label>
    <input type="text" id="new-customer" name="name">
    <button type="submit" id="submit-btn">Submit</button>
  </form>
</div>
